@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../economizeJa/pages/images/image-fruits.png');
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.container h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

#nome.btn.btn-primary {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #050505;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#nome.btn.btn-primary:hover {
  background-color: #0056b3;
}

main h2, p {
  margin: 20px 0;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #333;
}

@media (min-width: 1601px) {
  body {
    justify-content: flex-end;
  }

  .main {
    margin-right: 150px;
  }
}

@media (max-width: 1200px) {
  .main {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .main {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
  }

  .container {
    padding: 5px;
  }

  form {
    max-width: 100%;
  }
}
