* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden !important;
}

body {
    overflow: scroll;
}

.logo-img {
    width: 40px; 
    height: auto;
    border-radius: 4px;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn.btn-primary {
    margin-left: auto;
}

.offcanvas-body ul.nav {
    padding: 0;
    margin: 0;
}

ul.nav.me-auto {
    margin-right: 0 !important;
}

a.nav-link.link-dark.px-2 {
    color: black !important;
    font-size: 1.2rem;
    font-weight: 100;
    transition: 1s;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    flex-direction: row;
}

a.nav-link.link-dark.px-2:hover {
    color: #fff !important;
    background-color: black;
    transition: 1s;
}

.nav-register {
    display: flex;
    margin-left: 400px;
    justify-content: center;
}

.container.d-flex.flex-wrap {
    display: flex;
    justify-content: center;  
    padding: 1rem;
}

.container.d-flex.flex-wrap .registros a {
    color: white !important;
    background-color: black !important;
    font-size: 1.2rem;
    transition: 1s;
    margin-left: 10px !important;
}

.container.d-flex.flex-wrap .registros a:hover {
    color: black !important;
    background-color: white;
    transition: 1s;
}

.btn.btn-primary {
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: #000;
}

.btn.btn-primary:hover {
    margin-left: 10px;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    transition: 1s;
}

.main {
    background-image: url(background-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.p-md-5 {
    /* padding: 3rem !important; */
}

nav.py-2.bg.bg-light.border-bottom {
    padding-bottom: 0px !important;
}

dmriv.position-relative,overflow-hidden.p-3.p-nd-5.m-md-3.text-center.bg-body-tertiary {
    background-color: transparent !important;
}

.display-3 {
    color: #000000;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.col-md-6.p-lg-5.mx-auto.my-5 {
    margin-top: 5rem !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-register {
        display: none;
    }
    
    .container.d-flex.flex-wrap {
        display: none;
    }

    .nav-item.dropdown {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .nav-item:first-child {
        display: block;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 10rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .nav-register {
        display: none;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 5rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .nav-register {
        display: flex;
    }
    
    .container.d-flex.flex-wrap {
        display: flex;
    }

    .nav-item {
        display: list-item;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 5rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .btn.btn-primary {
        display: none;
    }
}

@media (min-width: 1667px) {
    .d-flex.gap-3.justify-content-center.lead.fw-normal {
        display: flex;
        text-align: center;
    }
}

@media (max-width: 1400px) {
    .container.d-flex.flex-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-register {
        display: none;
    }

    .btn.btn-primary {
        display: block;
    }

    .offcanvas {
        display: block;
    }
}
