* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden !important;
}

body {
    overflow: hidden;
}	

.bg {
    background-color: #000000;
}

a.nav-link.link-dark.px-2 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 100;
    transition: 1s;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    flex-direction: row;
}

a.nav-link.link-dark.px-2:hover {
    color: #fff;
    background-color: #000;
    transition: 1s;
}

.nav-register {
    display: flex;
    margin-left: 300px;
}

.container.d-flex.flex-wrap {
    display: flex;
    justify-content: center;  
    padding: 1rem;
}

.container.d-flex.flex-wrap .registros a {
    margin-left: 10px;
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
}

.container.d-flex.flex-wrap .registros a:hover {
    margin-left: 10px;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
}

.main {
    background-image: url(background-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.display-3 {
    color: #000000;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.col-md-6.p-lg-5.mx-auto.my-5 {
    margin-top: 5rem !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-register {
        display: none;
    }
    
    .container.d-flex.flex-wrap {
        display: none;
    }

    .nav-item.dropdown {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .nav-item:first-child {
        display: block;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 1rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .nav-register {
        display: none;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 5rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .nav-register {
        display: flex;
    }
    
    .container.d-flex.flex-wrap {
        display: flex;
    }

    .nav-item {
        display: list-item;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 5rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1667px) {
    .d-flex.gap-3.justify-content-center.lead.fw-normal {
        display: flex;
        text-align: center;
    }
}
