@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root{
    --font-main: 'SUSE', sans-serif;
}


body {
    font-family: var(--font-main)  ;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#qualities {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quality-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-bottom: 2rem;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.quality-card img {
    width: 100%;
    height: auto;
}

.quality-card h2 {
    font-size: 1.5rem;
    color: #333;
}

.quality-card p {
    padding: 0 1rem;
    color: #666;
}

.quality-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}