/* Reset e configuração básica */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url(../images/background-index.png) no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
}


#nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    top : 0;	
    background-color: rgb(248, 248, 248) !important;   
}


main {
    height: 95%; 
    position: relative;
    margin-top: 100px;
   
}

section {    
    position: relative;
}

body::-webkit-scrollbar {
    width: 12px;
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #196B20;
}

body::-webkit-scrollbar-thumb:hover {
    background: #97A6A0;
}

/* Estilo para o botão primário */
.bi.bi-list {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 0px;
    font-size: 2rem;
    
}

.bi.bi-menu-button-wide:hover {
    scale: 1.05;
    transition: 0.3s;
}

/* Seções específicas */
.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-body-tertiary {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.row .justify-content-center {
    justify-content: center !important;
    margin-bottom: 200px;
}

.container.my-7{
    border-radius: 10px;
    
   
}

#quem-somos{
    margin-bottom: 200px;
}

.sede {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
   
}

.map-container{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin: 0px;

}

.sede {
    margin-bottom: 200px;
}

.imgSede{
    width: 50%;
    border-radius: 10px;
    margin: 0px;
    padding: 0%;

}

.imgSede img {
    width: 100%;
    border-radius: 10px;
    margin: 0px;
    padding: 0%;
}

#onde-estamos {
    margin-bottom: 200px;
}



    


