/* Reset e configuração básica */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../images/background-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}

main {
    height: 100vh; /* Ocupa 100% da altura da tela */
    position: relative;
    z-index: 1;
}

section {
    min-height: 100vh; /* Garante que a seção ocupe pelo menos 100% da altura da tela */
    padding: 20px; /* Ajuste o padding conforme necessário */
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

/* Estilo para o botão primário */
.btn.btn-primary {
    color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: #000;
}

.btn.btn-primary:hover {
    margin-left: 10px;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    transition: 1s;
}

/* Seções específicas */
.position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-body-tertiary {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.row .justify-content-center {
    justify-content: center !important;
    margin-bottom: 200px;
}

/* Responsividade */
@media (max-width: 768px) {
    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 10rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 5rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 6.75rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1667px) {
    .d-flex.gap-3.justify-content-center.lead.fw-normal {
        display: flex;
        text-align: center;
    }

    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 8rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1400px) {
    .col-md-6.p-lg-5.mx-auto.my-5 {
        margin-top: 8rem !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .offcanvas {
        display: block;
    }
}
